[Unit]
Description=Jupyterhub
Requires=firewalld.service
After=network-online.target

[Service]
User={{ jupyter_server_user }}
Environment="PATH={{ jupyterhub_prefix }}/bin:/sbin:/bin:/usr/sbin:/usr/bin"
ExecStart={{ jupyterhub_prefix }}/bin/jupyterhub --JupyterHub.spawner_class=sudospawner.SudoSpawner
WorkingDirectory={{ jupyterhub_config_directory }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
